@media (max-width: 1000px) {
    .navigation {
        width: 300px;
        height: 300px;
        position: fixed;
        top: -50px;
        left: -350px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(255, 255, 255);
        transition: 1s ease all;
        z-index: 1500;
    }
    .navigation span {
        color: rgb(19, 80, 130);
    }
    .open__navigation {
        color: rgb(19, 80, 130);
        z-index: 1600;
    }
    .navigation__open {
        left: 0px;
        transition: 1s ease all;
    }
    .information__header {
        justify-content: center;
        gap: 20px;
    }
    .open__navigation {
        display: block;
        position: fixed;
    }
    .trays {
        flex: 1 1 60rem;
    }
    .main__trays img {
        height: 300px;
        width: 300px;
    }
    .advantages {
         margin-top: 1000px;
    }
    .m {
        margin-top: 20px;
    }
}

@media (max-width: 560px) { 
    #theme-toggle {
        padding: 6px 15px;
    }
    .title__company img {
        max-width: 350px;
    }
    .advantage__box {
        margin-top: 30px;
    }
        .advantages {
         margin-top: 1000px;
    }
    .m {
        margin-top: 20px;
        border-radius: 0px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
    }
    .our__customers {
        flex-wrap: wrap;
    }
    .customer {
        flex: 1 1 50%;
    }
    .convenience__block {
        flex: 1 1 40rem;
    }
    .conveniences {
        gap: 30px;
    }
}
@media (max-width: 500px) { 
    .advantages {
         margin-top: 1020px;
    }
    .m {
        margin-top: 20px;
        border-radius: 0px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    footer {
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
}

@media (max-width: 400px) { 
    header {
        font-size: 12px;
    }
        .advantages {
        text-align: center;
    }
    .catalog__information{ 
        margin: 20px 2px;
    }
    .catalog__information img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 350px) { 
    header {
        font-size: 12px;
    }
    #theme-toggle {
        padding: 3px 10px;
        font-size: 10px;
    }
        .main__trays img {
        height: 250px;
        width: 250px;
    }
    .advantages {
        padding: 5px;
        margin-top: 1000px;
    }
    .adventage {
        font-size: 14px;
    }
    .advantage__box h2 {
        font-size: 16px;
    }
    .m {
        margin-top: 20px;
        border-radius: 0px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}